.imgdialogue{
    position:absolute;
    bottom:15em;
    margin-left:26em;
   
}
.imgHidden{
    display:none
}
.dialogue{
    border: 3px solid blue;
    color:white;
    display:flex;
    background-color:rgba(6, 14, 83, 0.973);
    margin-left:-26em;
    height:8em;
    width:48rem;
}
.name{
    position:absolute;
    font-weight:bolder;
    font-size:1.5em;
    margin-left:1em;
    margin-top:0.3em;
}
.text{
    position:relative;
    color:rgb(160, 168, 236);
    font-weight:lighter;
    font-size:1.2em;
    margin-left:1.5em;
    margin-top:2em;
}
.okButton {
    position:absolute;
    z-index: 1;
    color:rgb(78, 78, 255);
    font-weight:bolder;
    border-radius:8%;
    font-size:15px;
    background-color:rgba(6, 14, 83, 0.884);
    height:3em;
    width:8em;
    margin-top:-2em;
    margin-left:15em;

}
button:hover {
    background-color:rgba(14, 23, 107, 0.884);
}
.Mysterio{
    margin-left:-7em
}