html{
    /* background-image: url(../assets/MAA.png);
    background-size:cover; */
    background-color: rgb(1, 3, 10);
}
.button:hover{
    border: 2px solid yellow;
    transform:scale(1.1);
}

.button:hover .textButton{
    border: 2px solid yellow;
    visibility: visible;
}
.textButton {
    position:absolute;
    top:-90px;
    left: 0;
    bottom:0px;
    right:0;
    visibility: hidden;
    background-color:grey;
    color:white;
    width: 90px;
    height:70px;
}
.hideButtons{
    visibility:hidden;
}
.items {
    margin-left:3em;
}
#medikit{
    position:absolute;
    top:-90px;
    left: 0;
    bottom:0px;
    right:0;
    visibility: hidden;
    margin-bottom:-3em;
} 
.items:hover #medikit{
    transform:scale(0.5);
    border-radius:10%;
    border:3px solid black;
    background-color:#5c5775;
    visibility: visible;
    margin-left:-1.8em;
    height:7.2em;
    width:7em;
} 
.items #medikit img{
   margin-top:0.5em;
}
.items #medikit img:hover{
    transform:scale(1.1);
}
.message {
    position: absolute;
    display: flex;
    color:aliceblue;
    background-color:#4d79ff;
    font-size:30px;
    align-items: center;
    left:20%;
    bottom:80%;
}
.textHidden{
    display:hidden;
}