
.button:hover{
    border: 2px solid yellow;
    transform:scale(1.1);
}

.button:hover .textButton{
    border: 2px solid yellow;
    visibility: visible;
}
.textButton {
    position:absolute;
    top:-90px;
    left: 0;
    bottom:0px;
    right:0;
    visibility: hidden;
    background-color:grey;
    color:white;
    width: 90px;
    height:70px;
}
.hideButtons{
    display:none;
}